.header__subtitle {
    width: 388px;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    padding: auto;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}